{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1><i class="fas fa-blog"></i> blog</h1>
  <div style="position:relative; top:20px">

    {% if posts|length == 0 %}
      <div style="position:relative; top:50px">
        <h2><i class="far fa-frown-open"></i> Nothing posted yet</h2>
      </div>
    {% endif %}

    {% for post in posts %}
      <a href="{% url 'post' pk=post.pk %}">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"> {{ post.title }} </h5>
            <p class="card-text"> {{ post.content }} </p>
            <p class="card-text"><small class="text-muted">updated {{ post.created_on }}</small></p>
          </div>
        </div>
      </a>
    {% endfor %}

  </div>
{% endblock %}
