{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{project.title}}</h1>
<div class="row">
  <div class="col-md-8">
    <img src="{{ project.image }}" alt="{{ project.description }}" width="100%">
  </div>
  <div class="col-md-4">
    <h3>About the project:</h3>
    <p>{{ project.description }}</p>
    <h3>built with:</h3>
    <p>{{ project.technology }}</p>
  </div>
</div>

{% if project.project_url != "#" %}
  <p>Project URL: <a href={{ project.project_url }}>{{ project.project_url }}</a>
{% endif%}
{% if project.github_url != "#" %}
  <p>Git URL: <a href={{ project.github_url }}>{{ project.github_url }}</a></p>
{% endif %}



<p id="back"> <a href="{% url 'projects' %}"><img src="{% static '/img/wolf-logo_D5.png' %}"> Back</a></p>

{% endblock %}