{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  <div style="position:relative; top:20px">
  

  <h1><i class="far fa-folder-open"></i> Portfolio<h1>

    {% if projects|length == 0 %}
      <div style="position:relative; top:50px">
        <h2><i class="far fa-frown-open"></i> Nothing posted yet</h2>
      </div>
    {% endif %}

    {% for project in projects %}
      <a href="{% url 'project_detail' pk=project.pk %}">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"> {{ project.title }} </h5>
            <p class="card-text"> {{ project.description }} </p>
            {% comment %} <p class="card-text"><small class="text-muted">created: {{ project.created_on|date:"F d, Y" }}</small></p> {% endcomment %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
